.centertitle{
    color: #F1F1F1;
text-align: center;
font-family: "League Gothic";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: -0.456px;
text-transform: uppercase;
}