.frontend-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.frontend-tools img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.frontend-tools img:hover {
  transform: scale(1.2);
  opacity: 1.2;
  cursor: pointer;
}
.tools-tags-container{
display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px
}
.frontend-development-container0{
  display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 50px 100px;
}