.glasscard {
    padding: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.02); 
  backdrop-filter: blur(20px);  
   -webkit-backdrop-filter: blur(20px);
  /* mix-blend-mode: overlay; */
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  gap: 24px;
      align-items: center;
    justify-content: center;
}

.glasscard-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.glasscard-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-content: center;
}
.glasscard-content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.glasscard-content p {
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.8;
  color: #cfcfcf;
    font-family: "Poppins", sans-serif;
      text-align: center;

}

.glasscard-btn {
  width: 100%;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: 0.3s ease;
}

.glasscard-btn:hover {
  background: rgba(255, 255, 255, 0.18);
}
.courses-glasscards{
    display: flex;
    gap: 40px;
}   