.sidetitle{
    color: #EDEDED;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: "League Gothic";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
}